*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f5f9eb;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    background: #fcfff3;
    padding: 50px;
  }
  .attempts
  {
    display: flex;
    position: absolute;
    top: 0;
    right: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    color: white;
    background-color: #454545;

  }
  .designText{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 20px;
    right: 5em;
    position: absolute;
    top: 0;

  }
  .designLeftText
  {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 20px;
    left: 3.3%;
    position: absolute;
    top: 0;
  }

  input {
    
    padding: 15px;
    outline: none;
    background: #f5f9eb;
    width: 360px;
    border: 5px solid #454545;
    margin-right: auto;
    border-radius: none;
  }
  
  button {
    
    border-radius: 100px;
    background: #454545;
    padding: 5px;
    outline: none;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
  }
  .leftAlign
  {
    display: flex;
    position: absolute;
    top: 0;
    left: 5em;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    color: white;
    background-color: #454545;
  }
  .rightAlign
  {
    display: flex;
    position: absolute;
    top: 0;
    left: 2%;
    margin-top: 10px;
  }

  .uiDesign {
    display: block;
    margin: 0 auto;
    justify-content: center;
    list-style: upper-alpha;
    background: #f5f9eb;
    padding: 7px 20px;
    margin: 10px;
    font-family: sans-serif;
  }
  
  .close {
    padding: 5px 10px;
    cursor: pointer;
  }
  @media only screen and (max-width: 768px) {
    main {
        padding: 1em;
    }
    section {
        padding: 0.5em;
    }
    input[type="number"] {
        font-size: 1.2em;
    }
    button[type="button"] {
        padding: 0.3em 0.7em;
    }
    }
    
    /* Tablets (portrait and landscape) */
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
    main {
        padding: 2em;
    }
    section {
        padding: 1em;
    }
    input[type="number"] {
        font-size: 1.5em;
    }
    button[type="button"] {
        padding: 0.5em 1em;
    }
    }
    
  